.header {
}

.header__container {
  display: flex;
  flex-direction: column;
}

.header__top {
  position: relative;

  display: flex;
  align-items: center;
  padding: 27px 0;

  @media (max-width: $xl) {
    justify-content: space-between;
  }

  @media (max-width: $lg) {
    padding: 13px 0;
  }
}

.header__icon-menu {
  @media (max-width: $xl) {
    position: absolute;
    top: 50%;
    left: 0;

    transform: translate(0, -50%);
  }
}

.header__logo {
  width: 20%;

  @media (max-width: $xl) {
    width: 30%;
    padding: 13px 0 5px 30px;
  }

  @media (max-width: $lg) {
    width: auto;
  }
}

.header__nav {
  display: flex;
  width: 55%;

  @media (max-width: $xl) {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 450;

    width: 100%;
    height: 100%;
    overflow-y: scroll;

    transform: translate(100%, 0);

    transition: .3s;

    &--active {
      transform: translate(0, 0);
    }
  }
}
.header__nav .nav__link {
  padding: 0 28px 9px;

  @media (max-width: $xl) {
    padding: 0;
  }
}

.header__wrap-account {
  position: relative;

  display: flex;
  align-items: flex-end;
  width: 25%;
  padding-top: 2px;

  @media (max-width: $xl) {
    justify-content: flex-end;
  }

  &:last-child .header__account-block {
    margin-left: 35px;
  }
}

.header__account-block {
  position: relative;

  display: flex;
  flex-direction: column;
  padding-left: 36px;

  &:hover {
    text-decoration: none;
  }

  &:hover .header__account-label {
    color: $c-accent;
  }

  @media (max-width: $xl) {
    margin-right: 0;
    padding-left: 0;
  }
}

.header__account-label {
  display: block;

  font-size: 14px;
  line-height: 14px;
  color: $c-main;
  text-transform: capitalize;

  @media (max-width: $xl) {
    display: none;
  }
}

.header__account-block svg {
  position: absolute;
  top: 50%;
  left: 0;

  width: 25px;
  height: 25px;

  transform: translate(0, -50%);

  @media (max-width: $xl) {
    position: relative;
    top: 15px;
  }
}

.header__account-quanitity {
  display: flex;
}

.header__account-sub {
  display: block;
  margin-top: 5px;

  font-size: 14px;
  line-height: 14px;
  color: $c-secondary;
  text-transform: initial;

  @media (max-width: $xl) {
    display: none;
  }
}

.header__account-quanitity .header__account-sub {
  &:first-child {
    margin-right: 5px;
  }
}

.header__btn-account,
.header__btn-cart {
  & + * {
    display: none;
  }

  &--active + * {
    display: block;
  }
}

.header__account-cart-message {
  position: absolute;
  top: 60px;
  right: 15px;
  z-index: 20;

  min-width: 300px;
  padding: 20px;

  font-weight: 400;
  font-size: $fz-main;
  font-family: $ff-main;
  text-align: center;
  color: #808080;
  font-style: normal;

  background-color: #fff;
  border: 1px solid #ededed;
  border-radius: 4px;
  box-shadow: 2px 2px 11px rgba(0, 0, 0, .1);

  @media (max-width: $xl) {
    right: 0;
  }
}

.header__category-name {
  position: relative;

  padding: 3px 20px;

  font-size: 13px;
  line-height: 36px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1.2px;

  background-color: rgb(13,39,83);

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;

    display: block;
    width: 20px;
    height: 20px;

    background: url("../img/icon/menu-category.svg") no-repeat;
    background-size: 100%;
    transform: translate(0, -50%);
  }
}
