h1 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  font-family: $ff-main;
  color: $c-main;
  text-transform: uppercase;
}

h2 {
  margin: 0;

  font-weight: 500;
  font-size: 22px;
  font-family: $ff-main;
  color: $c-main;
  text-transform: capitalize;
}

h3 {
  margin: 0;
  padding: 6px 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 29px;
  font-family: $ff-main;
  text-align: left;
  color: $c-main;
  letter-spacing: 1.2px;

  border-bottom: 1px solid #ddd;
}

.title {
  position: relative;

  padding: 10px 0;

  border-bottom: 1px solid #ddd;

  @media (max-width: $md) {
    font-size: 16px;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;

    width: 7%;
    height: 2px;

    background-color: #0d2753;
  }
}

.title-2 {
  margin: 0;

  font-weight: 400;
  font-size: 18px;
  font-family: $ff-main;
  color: #fff;
  text-transform: uppercase;
}

.title-3 {
  margin: 0;

  font-weight: 400;
  font-size: 22px;
  font-family: $ff-main;
  color: $c-main;
  text-transform: capitalize;

  @media (max-width: $xl) {
    font-size: 18px;
  }
}
