.account {
}

.account__form {
  width: $c-6;

  @media (max-width: $md) {
    width: $c-12;
    margin-bottom: 30px;
  }
}

.account__title {
  margin-bottom: 30px;

  font-size: 20px;
}

.account__checkbox {
  margin-bottom: 10px;
}

.account__checkbox-input {
  margin-right: 5px;
}

.account__wrap-btn {
  margin-bottom: 20px;
}

.account__btn {
  min-width: 90px;

  &--w {
    min-width: 112px;
  }
  &--w-lg {
    min-width: 165px;
  }
}

.account__forgot-password {
  font-weight: 400;
  font-size: $fz-main;
  font-family: $ff-main;
  color: $c-secondary;

  &:hover {
    color: $c-accent;
    text-decoration: none;
  }
}


.account__text {
  margin-bottom: 30px;

  font-weight: 400;
  font-size: $fz-main;
  font-family: $ff-main;
  color: $c-secondary;

  & a {
    color: $c-accent;

    &:hover {
      color: $c-accent;
      text-decoration: none;
    }
  }
}

.account__message {
  position: relative;
  // display: none;

  padding: 20px 20px 20px 35px;

  font-weight: 400;
  font-size: $fz-main;
  font-family: $ff-main;
  color: #ff210f;

  background: #fff;
  border: 1px solid #ededed;

  &--active {
    display: block;
  }

  &::after {
    content: "\00d7";
    position: absolute;
    top: 50%;
    left: 10px;

    display: block;
    width: 16px;
    height: 38px;

    font-weight: 400;
    font-size: 25px;
    color: #ff210f;

    transform: translate(0, -50%);
  }
}
