.account-menu {
  position: absolute;
  top: 60px;
  right: 135px;
  z-index: 10;

  width: 200px;
  padding: 0 20px;

  text-align: left;

  background-color: #fff;
  border: 1px solid #ededed;
  border-radius: 4px;
  box-shadow: 2px 2px 11px rgba(0, 0, 0, .1);

  @media (max-width: $xl) {
    right: 60px;
  }
}

.account-menu__item {
  padding: 10px 0;

  border-bottom: 1px solid #eee;
}

.account-menu__link {
  font-weight: 400;
  font-size: $fz-main;
  font-family: $ff-main;
  color: #808080;
  font-style: normal;

  &:hover {
    color: $c-accent;
    text-decoration: none;
  }
}
