@keyframes fadeInDown {
  0% {
    transform: translateY(-30px);
  }
  50% {
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50px);
  }
}

@keyframes bounce {
  0% {
    transform: translateY(-250%);
  }
  100% {
    transform: translateY(0px);
  }
}

.animate-fadeInDown {
  animation-name: fadeInDown;
  animation-duration: 1s;
}

.animate-fadeInUp {
  animation-name: fadeInUp;
  animation-duration: 1s;
}
