.drop-us {
  margin-bottom: 35px;
}

.drop-us__title {
  margin-bottom: 10px;

  text-align: center;
}

.drop-us__form {
  display: flex;
  flex-direction: column;
}

.drop-us__text {
  margin-bottom: 25px;

  font-weight: 400;
  font-size: $fz-main;
  font-family: $ff-main;
  text-align: center;
  color: $c-secondary;

  & br {
    @media (max-width: $lg) {
      display: none;
    }

    @media (max-width: $md) {
      display: block;
    }

    @media (max-width: $sm) {
      display: none;
    }
  }
}

.drop-us__box-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.drop-us__label {
  font-weight: 400;
  font-size: $fz-main;
  font-family: $ff-main;
  color: $c-secondary;
}

.drop-us__input {
  padding: 12px;

  font-size: 12px;
  line-height: 20px;
  color: #000;

  background: #fafafa;
  border: 1px solid #ededed;

  &:focus {
    border: 1px solid rgba(0, 0, 0, .3);
    outline: none;
  }
}


.drop-us__btn {
  max-width: 82px;
  padding: 8px 23px 7px;

  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 1px;
}
