.drop-us {
  margin-bottom: 35px;
}

.drop-us__title {
  margin-bottom: 10px;

  text-align: center;
}

.drop-us__text {
  margin-bottom: 25px;

  font-weight: 400;
  font-size: $fz-main;
  font-family: $ff-main;
  text-align: center;
  color: $c-secondary;

  & br {
    @media (max-width: $lg) {
      display: none;
    }

    @media (max-width: $md) {
      display: block;
    }

    @media (max-width: $sm) {
      display: none;
    }
  }
}

.drop-us__btn {
  max-width: 82px;
  padding: 8px 23px 7px;

  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 1px;
}

.drop-us__label {
  color: $c-secondary;
}
