.main-box {
  display: flex;
}

.main-box__sidebar {
  width: 20%;
}

.main-box__content {
  flex-grow: 1;
  width: calc(80% - 30px);
  margin-left: 30px;
}

.main-box__image-wrap {
  display: flex;
  margin-top: 15px;
}

.main-box__image-slider {
  width: calc(80% - 30px);
  margin-right: 30px;
}

.main-box__banner img {
  height: 431px;
}
