.main-box {
  display: flex;

  @media (max-width: $md) {
    flex-direction: column;
  }
}

.main-box__sidebar {
  width: 20%;

  @media (max-width: $xl) {
    width: 30%;
  }

  @media (max-width: $md) {
    width: 100%;
  }
}

.main-box__content {
  flex-grow: 1;
  width: calc(80% - 30px);
  margin-left: 30px;

  @media (max-width: $xl) {
    width: calc(70% - 30px);
  }

  @media (max-width: $md) {
    width: 100%;
    margin-left: 0;
  }
}
