.mega-menu {
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 25;

  width: 840px;
  padding: 15px;

  background-color: #fff;
  border: 1px solid #e4e4e4;

  @media (max-width: $xl) {
    width: 625px;
  }

  @media (max-width: $lg) {
    width: 518px;
  }
}

.mega-menu__list {
  display: flex;
  flex-wrap: wrap;
}

.mega-menu__item {
  width: 25%;
}

.mega-menu__title {
  display: inline-block;
  margin-bottom: 20px;

  font-weight: 500;
  font-size: $fz-main;
  line-height: 1.5;
  font-family: $ff-main;
  color: $c-main;
  text-transform: uppercase;
}

.mega-menu__wrap {
}

.mega-menu__sub-list {
}

.mega-menu__sub-item {
  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.mega-menu__sub-link {
  font-weight: 400;
  font-size: $fz-main;
  line-height: 1.5;
  font-family: $ff-main;
  color: $c-main;

  transition: .3s;

  &:hover {
    color: $c-accent;
    text-decoration: none;
  }
}
