.menu-aside {
  position: relative;

  margin-top: -45px;
  margin-bottom: 30px;

  border: 1px solid #e4e4e4;

  @media (max-width: $md) {
    display: none;
  }
}

.menu-aside__name {
  position: relative;

  margin: 0;
  padding: 4px 24px 4px 15px;

  font-weight: 500;
  font-size: 15px;
  line-height: 36px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1.2px;

  background-color: rgb(13,39,83);

  @media (max-width: $xl) {
    padding-left: 15px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 20px;

    display: block;
    width: 20px;
    height: 20px;

    background: url("../img/icon/menu-category.svg") no-repeat;
    background-size: 100%;
    transform: translate(0, -50%);

    @media (max-width: $xl) {
      left: 15px;
    }
  }
}

.menu-aside__list {
}

.menu-aside__item {
  position: relative;

  padding: 12px 20px 0 15px;

  // &:not(:last-child) {
  //   border-bottom: 1px solid #f1f1f1;
  // }
}

.menu-aside__link {
  display: inline-block;
  width: 100%;
  padding-bottom: 12px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  font-family: $ff-main;
  color: $c-main;
  text-transform: capitalize;

  transition: .3s;

  .menu-aside__item:not(:last-child) & {
    border-bottom: 1px solid #f1f1f1;
  }

  .menu-aside__item:hover & {
    color: $c-accent;
    text-decoration: none;
  }

  & + * {
    visibility: hidden;
    opacity: 0;
  }

  .menu-aside__item:hover & + * {
    visibility: visible;
    opacity: 1;

    @media (max-width: $xl) {
      visibility: hidden;
      opacity: 0;
    }
  }

  &--active + * {
    @media (max-width: $xl) {
      visibility: visible !important;
      opacity: 1 !important;
    }
  }
}

.menu-aside__box-icon {
  position: absolute;
  top: 50%;
  right: 20px;

  transform: translate(0, -50%);
}

.menu-aside__box-icon svg {
  width: 18px;
  height: 18px;
}
