.nav {
}

.nav__list {
  display: flex;

  @media (max-width: $lg) {
    flex-direction: column;
    width: 300px;
    padding: 20px 15px;

    background-color: #fff;
  }

  @media (max-width: $md) {
    width: 250px;
  }
}

.nav__item {
  position: relative;

  display: flex;
  align-items: center;

  transition: .3s;
  &:hover .sub-menu {
    visibility: visible;
    opacity: 1;
  }

  @media (max-width: $lg) {
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 15px;
  }
}

.nav__sub-menu {
  position: absolute;
  top: 35px;
  left: 0;

  padding: 16px 25px;

  background-color: #fff;
  border: 1px solid #eee;
  box-shadow: 2px 2px 11px rgba(0, 0, 0, .1);

  @media (max-width: $lg) {
    position: relative;
    top: 0;
    left: 0;

    width: 235px;
    padding: 0;

    border: none;
    box-shadow: none;
    visibility: visible;
    opacity: 1;
  }
}

.nav__link {
  position: relative;

  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  font-family: $ff-main;
  color: $c-main;
  text-transform: uppercase;
  letter-spacing: .5px;

  transition: .3s;

  .nav__item:first-child & {
    padding-left: 0;
  }

  &:hover {
    color: $c-accent;
    text-decoration: none;
  }

  @media (max-width: $lg) {
    width: 100%;

    font-size: $fz-main;
    color: $c-secondary;
    text-transform: capitalize;
  }

  &--active {
    @media (max-width: $lg) {
      color: $c-accent;
    }
  }
}
