.promo-slider {
}

.promo-slider__slide {
  position: relative;
}

.promo-slider__text-wrap {
  position: absolute;
  top: 35%;
  right: 30px;

  @media (max-width: $lg) {
    top: 25%;
    right: 10px;
  }

  @media (max-width: $md) {
    right: 30px;
  }

  @media (max-width: $sm) {
    right: 10%;
  }
}

.promo-slider__text {
  margin: 0;
  margin-bottom: 20px;

  font-weight: 400;
  font-size: 11px;
  line-height: 20px;
  font-family: $ff-main;
  text-align: left;
  color: rgb(255, 255, 255);
  letter-spacing: 0;

  &:first-child {
    margin-bottom: 10px;

    @media (max-width: $sm) {
      margin-bottom: 5px;
    }
  }

  @media (max-width: $md) {
    font-size: 9px;
  }

  @media (max-width: $sm) {
    margin-bottom: 5px;
  }
}

.promo-slider__name {
  margin-bottom: 15px;

  font-weight: 400;
  font-size: 31px;
  line-height: 20px;
  font-family: Rubik;
  text-align: left;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  letter-spacing: 0;
  white-space: nowrap;

  & + p {
    @media (max-width: $sm) {
      display: none;
    }
  }

  @media (max-width: $md) {
    font-size: 27px;
  }

  @media (max-width: $sm) {
    font-size: 16px;
  }
}

.promo-slider__btn {
  margin: 0;
  padding: 0 20px;

  font-weight: 500;
  font-size: 11px;
  line-height: 31px;
  font-family: Rubik;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  letter-spacing: 0;

  background-color: rgb(239, 64, 96);

  transition: .3s;

  &:hover {
    color: $c-accent;

    background-color: transparent;
  }

  @media (max-width: $md) {
    font-size: 9px;
  }
}

.promo-slider__pagination .swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 20px;

  @media (max-width: $sm) {
    bottom: 10px;
  }
}
