.rating-dynamic {
  position: relative;

  display: inline-block;

  font-size: 18px;

  &::before {
    content: "★★★★★";

    display: block;
  }
}

.rating-dynamic__items {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.rating-dynamic__item {
  position: absolute;
  top: 0;
  left: 0;

  width: 0;
  height: 0;

  visibility: hidden;
  opacity: 0;

  &:checked,
  &:checked ~ .rating-dynamic__label {
    color: #f5ba3a;
  }
}

.rating-dynamic__label {
  flex: 0 0 20%;
  height: 100%;

  color: #fff;

  cursor: pointer;

  &::before {
    content: "★";

    display: block;

    transition: color .3s ease 0s;
  }

  &:hover,
  &:hover ~ .rating-dynamic__label,
  &:checked ~ &:hover {
    color: #fcae02;
  }
}
