.reviews {
}

.reviews__title {
  font-weight: 400;
  font-size: 14px;
  font-family: $ff-main;
  color: $c-main;
  text-transform: uppercase;

  &--bold {
    font-weight: 500;
  }
}

.reviews__contain {
  display: flex;
  margin-bottom: 15px;
  padding-bottom: 15px;

  border-bottom: 1px solid #e4e4e4;
}

.reviews__wrap-img {
  margin-right: 10px;
}

.reviews__wrap-img img {
  box-sizing: border-box;
  width: 55px;
  height: auto;
  padding: 3px;
  overflow: hidden;

  background: #f7f6f7;
  border: 1px solid #f0eef0;
  border-radius: 50%;
}

.reviews__comment-top {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.reviews__rating {
  margin-right: 5px;

  @media (max-width: $md) {
  }
}

.reviews__meta {
  display: flex;
  align-items: center;
}

.reviews__meta-author,
.reviewsreviews__meta-dash,
.reviews__meta-date {
  margin: 0;

  font-weight: 400;
  font-size: 12px;
  font-family: $ff-main;
  color: $c-secondary;
  text-transform: capitalize;
}

.reviews__comment-text {
  margin: 0;

  font-weight: 400;
  font-size: $fz-main;
  font-family: $ff-main;
  color: $c-secondary;
  text-transform: capitalize;
}

.reviews__form {
}

.reviews__form-title {
  margin-bottom: 10px;

  font-size: 16px;
}

.reviews__form-text {
  margin-bottom: 10px;

  font-size: $fz-main;
  line-height: 24px;
  font-family: $ff-main;
  color: #333;
}

.reviews__cookies {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.reviews__checkbox-text {
  margin-bottom: 0;
  margin-left: 10px;
}

.reviews__rating-form {
  margin-bottom: 20px;
}

.reviews__rating-text {
  margin-bottom: 20px;

  font-weight: 400;
  font-size: $fz-main;
  font-family: $ff-main;
  color: $c-main;
  text-transform: uppercase;

  @media (max-width: $sm) {
    margin-bottom: 10px;
  }
}

.reviews__textarea-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.reviews__textarea {
  background-color: #fff;
}

.reviews__btn {
  max-width: 97px;

  font-size: 12px;
}
