.social {
  display: flex;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;

  background-color: #f5f5f5;

  &:not(:last-child) {
    margin-right: 10px;
  }

  &:hover {
    text-decoration: none;

    background-color: $c-accent;
  }

  &:hover svg {
    fill: #fff;
  }

  @media (max-width: $lg) {
    width: 30px;
    height: 30px;
  }
}

.social__link svg {
  width: 16px;
  height: 16px;

  fill: #505050;
}
