.sub-menu-aside {
  position: absolute;
  bottom: -28%;
  left: 100%;
  z-index: 25;

  padding: 10px 25px;

  border: 1px solid #e4e4e4;
}

.sub-menu-aside__list {
  display: flex;
  flex-direction: column;
}

.sub-menu-aside__item {
  &:not(:last-child) {
    margin-bottom: 15px;
  }
}

.sub-menu-aside__link {
  font-weight: 400;
  font-size: $fz-main;
  line-height: 1.5;
  font-family: $ff-main;
  color: $c-main;
  text-transform: capitalize;

  &:hover {
    color: $c-accent;
    text-decoration: none;
  }
}
