.top-product {
  position: relative;

  margin-bottom: 30px;

  border: 1px solid #ddd;
}

.top-product__slider-wrapper {
  padding: 0 15px;
}

.top-product__title {
  padding: 6px 10px;

  border-bottom: 1px solid #ddd;
}
