.top-category-slider {
}

.top-category-slider__product {
  &:hover .top-category-slider__title {
    color: $c-accent;
  }

  &:hover .top-category-slider__desc svg {
    fill: $c-accent;
  }
}

.top-category-slider__img-wrap {
  position: relative;
}

.top-category-slider__desc {
  position: absolute;
  bottom: 0;
  left: 5%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  padding: 10px 15px;

  background-color: rgba(255,255,255, .9);
}

.top-category-slider__title {
  margin: 0;

  font-weight: 400;
  font-size: 16px;
  text-align: left;
  color: $c-main;
  text-transform: capitalize;
}

.top-category-slider__desc svg {
  width: 17px;
  height: 17px;
}

.top-category-slider__box-btn {
  right: 0;
}
