.form {
  display: flex;
  flex-direction: column;
}

.form__box-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form__label {
  font-weight: 400;
  font-size: $fz-main;
  font-family: $ff-main;
  color: $c-secondary;
}

.form__input {
  padding: 12px;

  font-size: 12px;
  line-height: 20px;
  color: #000;

  background: #fafafa;
  border: 1px solid #ededed;

  &:focus {
    border: 1px solid rgba(0, 0, 0, .3);
    outline: none;
  }
}
