.form {
  display: flex;
  flex-direction: column;
}

.form__box-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form__label {
  font-weight: 400;
  font-size: $fz-main;
  font-family: $ff-main;
  color: $c-main;

  & span {
    font-weight: 700;
    font-size: $fz-main;
    font-family: $ff-main;
    color: red;
  }
}

.form__input {
  padding: 12px;

  font-size: 12px;
  line-height: 20px;
  color: #000;

  background: #fafafa;
  border: 1px solid #ededed;

  &:focus {
    border: 1px solid rgba(0, 0, 0, .3);
    outline: none;
  }

  &::placeholder {
    color: #b8b3b3;
  }
}

.form__checkbox {
  display: flex;
  align-items: center;
}

.form__checkbox-input {
  margin-right: 10px;
}

.form__checkbox-text {
  margin-bottom: 0;

  font-weight: 400;
  font-size: $fz-main;
  font-family: $ff-main;
  color: $c-main;
}
