.btn {
  display: inline-block;
  padding: 5px 25px;

  font-weight: 400;
  font-size: 14px;
  color: #8b8b8b;

  background-color: transparent;
  border: 1px solid #8b8b8b;

  transition: all .5s;

  &:hover {
    color: #fff;
    text-decoration: none;

    background-color: $c-accent;
  }
}


.btn-box {
  position: absolute;
  top: 10px;
  right: 12px;

  display: flex;
  align-items: center;
}

.btn-prev,
.btn-next {
  width: 20px;
  height: 20px;

  svg {
    display: block;
    width: 100%;
    height: 100%;

    fill: #808080;
  }

  &:hover svg {
    fill: #494949;
  }
}

.btn-prev {
  margin-right: 10px;
  svg {
    transform: scale(-1, 1);
  }
}
